@CHARSET "UTF-8";

/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */
	#boardContainer{
		width: 100%;
		margin: 131px auto 0;
	}
	
	#boardLeftNav{
		float: left;
		width: 15%;
		min-height: 700px;
	}
	
	#boardContent{
		float: right;
		width: 85%;
		min-height: 700px;
	}
	
	#boardLeftNav li{
		list-style: none; 
		padding: 5px;
	}
	
	#boardLeftNav > ul > li:FIRST-CHILD{ 
		margin-top: 20%;
		font-weight: bold;
		font-size: 25px;
		width: 90%;
		border-bottom: 1px solid #ccc;
		
	}
	
	#boardLeftNav > ul > li{ 
		margin: 5% 0 5% 0;
	}
	
	#boardLeftNav a{
		text-decoration: none;
		color: black;
		font-size: 13px;
	}
	
	#boardLeftNav a:HOVER{
		font-weight: bold;
	}
	
	.selectMenu{
		font-weight: bold;
		font-size: 15px !important;
	}
	
	#ContentTopText{
		font-size: 23px;
		font-weight: bold;
		margin: 5% 0 2% 2%;
		width: 93%; 
	}
	
	#ContentTopText span{
		color: #999;
	}
	
	#ContentTopText button{
		float: right;
	}
	
	#ContentBottomDiv{
		width: 95%;
		margin: 0 auto;
	}
	
	#ContentBottomDiv ul{
		padding: 0;
	}
	
	#ContentBottomDiv .boardLi{
		list-style: none;
		float: left;
		width: 220px;
		margin: 1%;
		cursor: pointer;
	}
	
	#ContentBottomDiv .boardLi:hover{
		border: 1px solid #ccc;
	}
	
	#ContentBottomDiv .boardLi .boardTop img{
		width: 100%;
	}
	
	#ContentBottomDiv .boardLi .boardCountDiv{
		font-size: 11px;
		font-weight: bold;
		width: 90%;
		border-bottom: 1px solid #ccc;
		margin: 0 auto;
		padding: 5px;
	}
	
	#ContentBottomDiv .boardLi .boardCountDiv span.viewCount{
		float: right;
	}
	
	#ContentBottomDiv .boardLi .boardTextDiv{
		padding: 10px;
	}
	
	#ContentBottomDiv .boardLi .boardBottom{
		font-size: 12px;
		font-weight: bold;
	}

	
	#ContentPagingDiv{
		clear: both;
		width: 95%;
		height: 100px;
		border: 1px solid black;
		margin: 0 auto;
	}
	
	


/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 320px){
	

}

@media screen and (max-width: 700px){
	#boardLeftNav{
		display: none;
	}
	
	#boardContainer{
		margin: 55px auto 0 !important;
	}
	
	#boardContent{
		width: 100% !important;
	}
	
	#boardContent img{
		width: 100%;
	}
}

@media screen and (min-width: 767px) and (max-width: 1023px){
	#boardLeftNav > ul{
		padding-left: 10px;
	}
	
	#boardLeftNav > ul > li:FIRST-CHILD{ 
		font-size: 18px !important;
		width: 80% !important;		
	}
	
	#boardLeftNav > ul li ul{
		padding-left: 20px;
	}
	
	#boardContent img{
		width: 100%;
	}
}

@media screen and (min-width: 1024px){
	#boardContent img{
		width: 100%;
	}
}