@CHARSET "UTF-8";

/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */
nav[class~='TopNav']{
	background-color: white !important;
	border: none !important;
	border-bottom: 1px solid #e5e5e5 !important;
	margin-bottom: 0 !important;
	z-index: 1040; 
}

#logoBtn{
	float: left !important;
	width: 100px !important;
	border: none !important;
	background-color: white !important; 
}

#logoBtn img{
 	width: 50%;	
}

#navText{
	float: left !important;
	width: 100px !important;
	border: none !important;
	background-color: white !important;
	color: #8d8d8d !important;
    font-size: 12px !important;
    font-weight: bold;
}


#topNavBtn{
	background-color: white !important;
	border: none !important;
}

#cartBtn{
	background-color: white !important;
	border: none !important;	
}

#myNavbar li:LAST-CHILD a{
	font-size: 20px !important;
}

#myNavbar li a{
	color: #8d8d8d !important;
	font-size: 12px !important;	
	font-weight: bold;
	cursor: pointer !important;	
}

#myNavbar li a:hover{
	color: black !important;
}

#mainLogo{
	width: 100%;  
}

li.mobileCategory, li[class~=mobileDropdown]{
	display: none;
}

#secondNav{
	background-color: white !important;
	border: none !important;
	border-bottom: 1px solid #e5e5e5 !important;
	margin-bottom: 0 !important;
	height: 80px !important;
	top: 51px !important; 
}

#secondNavSecondDiv{
	margin-top: 10px !important;	
}

#secondNavSecondDiv ul{
	float: none !important;
	margin: 0 auto !important;
	text-align: center !important;
}

#secondNavSecondDiv ul li{
	float: none !important;
	display: inline-block !important;
	margin: 0 auto !important;
	padding-top: 0.5%; 
	
}


#secondNavSecondDiv ul li a{
	font-size: 15px;
	font-weight: bold;
	color:  #8d8d8d !important;
	height: 63px;
}

#secondNavSecondDiv ul li a:hover{
	color: black !important;
	border-bottom: 3px solid black;
}

#secondNavThirdDiv{
	margin-top: 10px !important;
}

/* #secondNavThirdDiv #searchBtn{
	padding: 9px 12px !important;
} */

nav[class~=hoverNav]{
	background-color: white !important;
	border: none !important;
	width: 100% !important;
	min-height: 300px !important;
	top: 131px !important;
	display: none;
}

nav[class~=hoverNav] ul[class~=hoverUl]{
	float: none !important;
	margin: 2% auto !important;
	width: 50%;
}

nav[class~=hoverNav] li[class~=divisionLi]{
	width: 20%;
	border-left: 1px solid #8d8d8d !important;
	min-height: 200px;
}

nav[class~=hoverNav] li[class~=divisionLi]:FIRST-CHILD{
	border-left: none !important;;
}

.divisionA{
	color: black !important;
	font-size: 15px;
	font-weight: bold;
}

.divisionA:HOVER{
	color: #8d8d8d !important;
}

nav[class~=hoverNav] li[class~=divisionLi] li{
	list-style: none;
	margin-left: -25px;
}

.sectionA{
	color: black !important;
	font-size: 13px;
	text-decoration: none !important;
}

.sectionA:hover{
	color: #8d8d8d !important;
}

#loginMenu{
	width: 180px;
	height: 80px; 
	background-color: white;
	border: 1px solid #ccc;
	padding: 20px;
	position: fixed;
	top: 50px;
	right: 70px;
	z-index: 9999;
	display: none;
}

#loginMenu li{
	list-style: none;
	margin-bottom: 10%;
}

#loginMenu li a{
	color: #8d8d8d;
	font-weight: bold;
	text-decoration: none;
}

#loginMenu li a:hover{
	color: black; 
}


/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */

@media screen and (max-width: 700px){
	#secondNav{
		display: none;
	}
	
	#myNavbar ul li:LAST-CHILD {
		display: none;
	}
	
	li.mobileCategory, li[class~=mobileDropdown]{
		display: block;
	}
	
	li.mobileCategory{
		background-color: #e5e5e5;
	}
	
	.navbar-nav>.open>a{
		background-color: #e5e5e5 !important; 
	}
	
	.mobileNavBack{
		background-color: #e5e5e5;
	}
	
	#modalContent img{
		width: 100%;
	}
	
	#loginUserName{
		display: none;
	}
	
	nav[class~=hoverNav]{
		display: none !important;
	}
	
}

@media screen and (min-width: 767px) and (max-width: 1024px){
	#secondNavSecondDiv ul{
		width: 80% !important;
	}
	
	#mainLogo{
		margin-top: 10px !important;
		width: 70px;  
	}
	
	#secondNavSecondDiv ul li a{
		height: 67px;
	}
	
	nav[class~=hoverNav] ul[class~=hoverUl]{
		width: 60%;
	}
	
}