@CHARSET "UTF-8";

/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */
	#mypageContainer{
		width: 70%;
		margin: 200px auto;
		min-height: 700px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	#mypageLeftDiv{
		width: 20%;
		min-height: 700px;
		float: left;
	}
	
	#mypageLeftDiv  ul{
		padding-left: 10px;
	}
		
	#mypageLeftDiv  li{
		padding: 10px 5px;
		list-style: none;	
	}
	
	#mypageLeftDiv a{
		color: #111;
		font-size: 12px;
	}
	
	#mypageLeftDiv a:hover{
		text-decoration: none;
	}
	
	#mypageLeftDiv > ul > li:FIRST-CHILD { 
		font-size: 26px;
		color: #111;
		font-weight: bold;
		margin-bottom: 10px;
		
	}
	
	#menuName{
		padding: 10px 0;
		border-top: 2px solid #e5e5e5;
		border-bottom: 2px solid #e5e5e5;
	}
	
	#mypageLeftDiv .leftSpan{
		font-weight: bold;
		font-size: 12px;
	}
	
	#mypageLeftDiv .selectOrderMenu{
		font-weight: bold;
		font-size: 13px;
	}
	
	#mypageContentDiv{
		width: 75%;
		float: right;
		min-height: 700px;
		margin-left: 20px;
	}
	
	#mypageContentDiv figcaption{
		font-size: 26px;
		color: #111;
		font-weight: bold;
		margin-bottom: 10px; 
		padding: 10px 0;
	}
	
	#mypageContentDiv figure > table{
		width: 100%;
		margin-bottom: 5%;
	}
	
	#mypageContentDiv tr.mypageOrderInfo table{
		width: 100%;
	}
	
	#mypageContentDiv span.mypageBoldText{
		font-weight: bold;
	}
	
	#mypageContentDiv figure > table tr.mypageOrderInfo tr:FIRST-CHILD td{
		background-color: #e5e5e5;
	}
	
	#mypageContentDiv figure > table tr.mypageOrderInfo tr:FIRST-CHILD div:FIRST-CHILD{
		float: left;
	}
	
	#mypageContentDiv figure > table tr.mypageOrderInfo tr:FIRST-CHILD div:LAST-CHILD{
		float: right;
	}
	
	#mypageContentDiv figure > table tr.mypageOrderInfo td{
		padding: 10px 10px; 
		font-size: 13px;
		font-weight: normal !important;  
	}
	
	#mypageContentDiv figure > table tr.mypageOrderInfo th{
		text-align: center;
		border-top: 2px solid #e5e5e5;
		border-bottom: 2px solid #e5e5e5;
		padding: 10px 0;
		
	}
	
	#mypageContentDiv td.mypageOrderImgTd{
		width: 200px !important;
	}
	
	#mypageContentDiv td.mypageOrderImgTd img{
		width: 110px;
		height: 110px;
	}
	
	#mypageContentDiv td.mypageOrderText{
		text-align: center;
	}
	
	#mypageContentDiv figure > table tr.mypageOrderInfo tr:LAST-CHILD {
		border-bottom: 2px solid #e5e5e5;
	}
	
	#emptyOrderTr td{
		border-top: 2px solid #e5e5e5 !important;
		border-bottom: 2px solid #e5e5e5;
		padding: 23% 0;
		text-align: center;
		font-size: 13px !important;
	}
	
	#pagingTr{
		text-align: center;
	}
	
	#pagingTr ul.pagination a{
		color: black !important;
	}
	
	#pagingTr ul.pagination .active a{
		background-color: #ccc !important;
		border-color: #ccc !important;
	}
	
}
	
	
/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 320px){
	
}

@media screen and (min-width: 360px) and (max-width: 414px){
	
}	


@media screen and (max-width: 700px){
	
}

@media screen and (min-width: 767px) and (max-width: 1023px){
	
}

@media screen and (min-width: 1024px) and (max-width: 1366px){
	
}