@CHARSET "UTF-8";
/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */
	#readContainer{
		margin: 131px auto 0;
		width: 70%;
		min-height: 1370px;
	}
	
	#readLeftDiv{
		width: 68%; 
		height: 700px;
		float: left;
	}
	
	#readLeftDiv img{
		width: 435px;
		height: 435px;
		display: inline-block;
		margin: 0.5%;
		
	}
	
	#readRightDiv{
		width: 32%; 
		float: right;
		padding: 5px;
		font-family: 'Nanum Gothic', sans-serif;
	}
	
	#readRightDiv div{
		width: 100%;
	}
	
	#readRightDiv strong{
		font-size: 15px;
		font-weight: bold;
		color: #111;
	}
	
	#readTitle{
		font-size: 28px;
		font-weight: bold;
		margin-bottom: 5%;
	}
	
	#readTitle span{ 
		color: #666;
		font-size: 15px;
	}
	
	#readseller{
		line-height: 30px;
		margin-bottom: 8%;
	}
	
	#readseller span{
		font-size: 14px;
	}
	
	#readContent{
		line-height: 30px;
		margin-bottom: 5%;
	}
	
	#readCountDiv input{
		width: 50px;
		height: 40px;
		border: 1px solid #d1d1d1;
		padding: 6px 5px;
		text-align: center;
		margin-right: 8px; 
		margin-top: 10px; 	
	}
	
	#readCountDiv button{
		width: 46px;
		height: 40px;
		border: 1px solid #d1d1d1;
		padding: 0;
		text-align: center;
		background-color: #fff;
		border-radius: 2px;
	}
	
	#readCountDiv button:hover{
		background-color: #F6F6F6; 
		border: 1px solid black;
	}
	
	#readCountDiv button:LAST-CHILD{
		margin-left: -1.2%; 
	}
	
	#readBtnDiv{
		margin-bottom: 10%;
	}
	
	#readBtnDiv button{
		background-color: black;
		padding: 15px 70px; 
		color: white;
		font-weight: bold;
		margin-top: 10%;
	}
	
	#readBtnDiv button:hover{
		background-color: #C0C0C0;
		border: 1px solid #C0C0C0;
	}
	
	#AsTextDiv, #warningDiv, #reviewConteinerDiv{
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		padding: 10px;
	}

	#AsTextDiv ul {
		margin-top: 5%;
		font-size: 12px;
		padding-left: 20px;
	}
	
	#warningDiv span{
		display: block;
		margin-top: 5%; 
		font-size: 12px;
		padding-left: 20px;
	}
	
	#reviewConteinerDiv{
		/* margin-bottom: 5%; */
		padding-top: 30px;
	}
	
	#reviewConteinerDiv #reviewContent > span{
		float: right;
		font-size: 20px;
		font-weight: bold;
		cursor: pointer;
	}
	
	#reviewAddTag{
		font-size: 13px;
		color: #2e2e2e !important;
		border-bottom: 1px solid #2e2e2e;
		text-decoration: none;
		margin-left: 10%;
		display: none;
	}
	
	
	#reviewConteinerDiv ul{
		margin-top: 5%;
		padding-left: 80px;
		list-style: none;
		clear: both;
		display: none;
	}
	
	#reviewConteinerDiv ul li.reviewLi{
		position: relative;
	}
	
	#reviewConteinerDiv ul li span{
		display: block;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewUpdate']{
		display: inline-block;
		position: absolute;
		top: 3px; 
		left: -70px;
		cursor: pointer;
		
	}
	
	#reviewConteinerDiv ul li span[class~='reviewDelete']{
		display: inline-block;
		position: absolute;
		top: 3px; 
		left: -35px;
		cursor: pointer;
	}
		
	#reviewConteinerDiv ul li.reviewLi{
		margin-bottom: 10%;
	}
	
	#reviewConteinerDiv .reviewTitle{
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 5%;
	}
	
	#reviewConteinerDiv .reviewWriterAndDate{
		font-size: 12px;
		color: #6d6d6d; 
		margin-bottom: 5%;
	}
	
	#reviewConteinerDiv .reviewContent{
		font-size: 14px;
		color: #000;
	}
	
	#reviewPaging{
		height: 30px;
	}
	
	#reviewPaging a{
		color: black !important;
	}
	
	#reviewPaging .active a{
		background-color: #ccc !important;
		border-color: #ccc !important;
	}
	
	#DelAndUpBtnDiv{
		border-top: 1px solid #e5e5e5;
	    border-bottom: 1px solid #e5e5e5;
	    padding: 10px;
	}
}
	
/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 700px){
	
}


@media screen and (min-width: 360px) and (max-width: 414px){
	#readLeftDiv img{
		width: 170px;
		height: 170px;
	}
	
	#readContainer{
		margin: 55px auto 0;
		width: 100%;
		min-height: 1050px !important;
	}
	
	#readLeftDiv{
		width: 50%; 
		text-align: center;
	}
	
	#readRightDiv{
		width: 50%;
	}
	
	#readTitle{
		font-size: 15px;
	}
	
	#readTitle span{ 
		font-size: 12px;
	}
	
	#readseller span{
		font-size: 12px;
	}
	
	#readCountDiv input{
		width: 40px;
		height: 35px;
	}
	
	#readCountDiv button{
		width: 40px;
		height: 35px;
	}
	
	#readBtnDiv button{
		padding: 10px 20px;
		font-size: 10px;
	}
	
	#readRightDiv strong{
		font-size: 11px
	}
	
	#AsTextDiv ul {
		font-size: 8px;
	}
	
	#reviewAddTag{
		font-size: 10px;
	}
	
	#reviewConteinerDiv .reviewTitle{
		font-size: 10px;
	}
	
	#reviewConteinerDiv .reviewWriterAndDate{
		font-size: 8px;
	}
	
	#reviewConteinerDiv .reviewContent{
		font-size: 10px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewUpdate']{
		position: absolute;
		top: 0; 
		left: -70px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewDelete']{
		position: absolute;
		top: 0; 
		left: -35px;
	}
}	


@media screen and (max-width: 320px){
	#readLeftDiv img{
		width: 150px;
		height: 150px;
	}
	
	#readContainer{
		margin: 55px auto 0;
		width: 100%;
		min-height: 1050px !important;
	}
	
	#readLeftDiv{
		width: 50%; 
		text-align: center;
	}
	
	#readRightDiv{
		width: 50%;
	}
	
	#readTitle{
		font-size: 15px;
	}
	
	#readTitle span{ 
		font-size: 12px;
	}
	
	#readseller span{
		font-size: 12px;
	}
	
	#readCountDiv input{
		width: 30px;
		height: 25px;
	}
	
	#readCountDiv button{
		width: 30px;
		height: 25px;
	}
	
	#readBtnDiv button{
		padding: 10px 15px;
		font-size: 7px;
	}
	
	#readRightDiv strong{
		font-size: 11px;
	}
	
	#AsTextDiv ul {
		font-size: 8px;
	}
	
	#reviewAddTag{
		font-size: 6px;
	}
	
	#reviewConteinerDiv .reviewTitle{
		font-size: 10px;
	}
	
	#reviewConteinerDiv .reviewWriterAndDate{
		font-size: 8px;
	}
	
	#reviewConteinerDiv .reviewContent{
		font-size: 10px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewUpdate']{
		position: absolute;
		top: 0; 
		left: -70px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewDelete']{
		position: absolute;
		top: 0; 
		left: -35px;
	}
	
}


@media screen and (min-width: 767px) and (max-width: 1023px){
	#readLeftDiv img{
		width: 200px;
		height: 240px; 
	}
	
	#readContainer{
		margin: 131px auto 0;
		width: 90%;
		min-height: 0;
		background-color: green;
	}
	
	#readLeftDiv{
		width: 60%; 
	}
	
	#readRightDiv{
		width: 40%;
	}
	
	#readTitle{
		font-size: 18px;
	}
	
	#readBtnDiv button{
		padding: 10px 35px; 
	}
	
	#AsTextDiv ul {
		font-size: 8px;
	}
	
	#reviewConteinerDiv .reviewTitle{
		font-size: 10px;
	}
	
	#reviewConteinerDiv .reviewWriterAndDate{
		font-size: 8px;
	}
	
	#reviewConteinerDiv .reviewContent{
		font-size: 10px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewUpdate']{
		position: absolute;
		top: 0; 
		left: -70px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewDelete']{
		position: absolute;
		top: 0; 
		left: -35px;
	}
}

@media screen and (min-width: 1024px) and (max-width: 1025px){
	#readLeftDiv img{
		width: 255px;
		height: 250px;
		
	}
	
	#readContainer{
		margin: 131px auto 0;
		width: 80%;
		min-height: 0;
	}
	
	#readTitle{
		font-size: 18px;
	}
	
	#readBtnDiv button{
		padding: 10px 25px; 
	}
	
	#AsTextDiv ul {
		font-size: 8px;
	}
	
	#reviewConteinerDiv .reviewTitle{
		font-size: 10px;
	}
	
	#reviewConteinerDiv .reviewWriterAndDate{
		font-size: 8px;
	}
	
	#reviewConteinerDiv .reviewContent{
		font-size: 10px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewUpdate']{
		position: absolute;
		top: 0; 
		left: -70px;
	}
	
	#reviewConteinerDiv ul li span[class~='reviewDelete']{
		position: absolute;
		top: 0; 
		left: -35px;
	}
}
