@CHARSET "UTF-8";
/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */
	#readContainer{
		margin: 131px auto 0;
		width: 70%;
		border: 1px solid black;
	}
	
	#readLeftDiv{
		width: 68%; 
		height: 700px;
		float: left;
		border: 1px solid black;
		
	}
	
	#readLeftDiv img{
		width: 435px; 
		display: inline-block;
		margin: 0.5%;
		
	}
	
	#readRightDiv{
		width: 32%; 
		float: right;
		border: 1px solid black;
		padding: 5px;
	}
	
	#readRightDiv div{
		border: 1px solid black;
		min-height: 100px; 
		width: 100%;
	}
	
	#readRightDiv strong{
		font-size: 15px;
		font-weight: bold;
		color: #111;
	}
	
	#readTitle{
		font-size: 28px;
		font-weight: bold;
	}
	
	#readseller{
		line-height: 30px;
	}
	
	#readseller span{
		font-size: 14px;
	}
	
	#readContent{
		line-height: 30px;
	}
	
	#readCountDiv input{
		width: 50px;
		height: 40px;
		border: 1px solid #d1d1d1;
		padding: 6px 5px;
		text-align: center;
		margin-right: 8px; 
		margin-top: 10px; 	
	}
	
	#readCountDiv button{
		width: 46px;
		height: 40px;
		border: 1px solid #d1d1d1;
		padding: 0;
		text-align: center;
		background-color: #fff;
		border-radius: 2px;
	}
	
/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */
@media screen and (max-width: 320px){
	
}

@media screen and (min-width: 360px) and (max-width: 414px){
	
}	


@media screen and (max-width: 700px){
	#readContainer{
		width: 100% !important;
		margin: 55px auto 0 !important;
	}
	
}

@media screen and (min-width: 767px) and (max-width: 1023px){
	
}

@media screen and (min-width: 1024px) and (max-width: 1025px){
	
}