@CHARSET "UTF-8";

/* ---------------------------------------------------
   CONTENT
----------------------------------------------------- */
	#updateContainer{
		width: 50%;
		margin: 200px auto;
		font-family: 'Nanum Gothic', sans-serif;
		text-align: center; 
	}
	
	#updateContainer .form-group{
		margin-bottom: 1% !important;
	}
	
	#updateMainText{
		width: 380px;
		font-size: 22px;
		font-weight: bold;
		margin: 0 auto 5%; 
	}
	
	#boardUpdateFormDiv{
		width: 380px;
		margin: 0 auto;
	}
	
	#boardUpdateFormDiv input{
		margin-top: 10%; 
	}
	
	#boardUpdateFormDiv textarea{
		margin-top: 10%; 
	}
	
	.updateCheckMessage{
		color: red;
		font-size: 11px;
		font-weight: bold;
		text-align: left;
		margin-bottom: 5%;
		display: none;  
	}
	
	#updateImgFiles{
		display: none;
	}
	
	#updateFileBtn{
		margin-bottom: 2%;
		background-color: black;
	    padding: 10px 30px;
	    color: white; 
	    font-weight: bold;
	}
	
	#updateBoardBtn{
		margin-bottom: 2%;
		background-color: black;
	    padding: 10px 30px;
	    color: white; 
	    font-weight: bold;
	}
	
	#updateImgPreviewDiv{
		width: 100%;
		min-height: 300px;
		display: none;
	}
	
	#updateImgMessage{
		font-size: 11px;
		font-weight: bold; 
		margin-bottom: 10%;
	}
	
	#updateImgPreviewDiv img{
		max-width: 150px;
		margin: 10px;
		
	}
	
	#updateImgPreviewDiv button{
		font-weight: bold;
		font-size: 12px;
	}

	

/* ---------------------------------------------------
   MEDIAQUERIES
----------------------------------------------------- */
@media screen and (min-width: 360px) and (max-width: 414px){
	#updateContainer{
		width: 100%;
		margin: 100px auto; 
	}
	
	#updateMainText{
		width: 280px;
	}
	
	#boardUpdateFormDiv{
		width: 280px;
	}
}

@media screen and (max-width: 321px){
	#updateContainer{
		width: 90%; 
		margin: 100px auto; 
	}
	
	#updateMainText{
		width: 250px !important; 
	}
	
	#boardUpdateFormDiv{
		width: 280px;
	}
}

@media screen and (min-width: 767px) and (max-width: 1023px){
	
}

@media screen and (min-width: 1024px) and (max-width: 1025px){
	
}