<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.BoardDao">
    
    <resultMap type="BoardVO" id="boardResult">
        <result property="boardNum" column="board_num"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardDate" column="board_date"/>
        <result property="boardUpdate" column="board_update"/>
        <result property="boardCount" column="board_count"/>
        <result property="boardTotalCount" column="board_total_count"/>
        <result property="boardPrice" column="board_price"/>
        <result property="clientNum.clientNum" column="client_num"/>
        <result property="sectionNum.sectionNum" column="section_num"/>
    </resultMap>  

    <resultMap type="BoardVO" id="boardJoinResult">
        <result property="boardNum" column="board_num"/>
        <result property="boardTitle" column="board_title"/>
        <result property="boardDate" column="board_date"/>
        <result property="boardUpdate" column="board_update"/>
        <result property="boardCount" column="board_count"/>
        <result property="boardTotalCount" column="board_total_count"/>
        <result property="boardPrice" column="board_price"/>
        <result property="sectionNum.sectionNum" column="section_num"/>
        <association property="clientNum" resultMap="com.dgit.persistence.UserDao.userResult"/>
    </resultMap>   
    
	<insert id="insert" useGeneratedKeys="true" keyProperty="boardNum">
	    insert into board(board_title, board_price, client_num, section_num) values (#{boardTitle}, #{boardPrice}, #{clientNum.clientNum}, #{sectionNum.sectionNum})
	</insert>
	
	<delete id="delete">
	    delete from board where board_num = #{boardNum}
	</delete>
    
	<update id="update">
	    update board set board_title = #{boardTitle}, board_price = #{boardPrice}, board_update = #{boardUpdate} 
	    where board_num = #{boardNum}
	</update>
	
	<update id="updateReadCount">
	    update board set board_count = board_count + 1 where board_num = #{boardNum}
	</update>
	
	<update id="updateTotalCount">
	    update board set board_total_count = board_total_count + 1 where board_num = #{boardNum}
	</update>
    
	<select id="selectAll" resultMap="boardResult">
	    select * from board
	</select>
    
	<select id="selectBoardByBoardNum" resultMap="boardJoinResult">
	    select * from board, user where board.client_num = user.client_num and board_num = #{num}
	</select> 
	
	<select id="selectBoardBySectionNum" resultMap="boardJoinResult">
	    select * from board, user where board.client_num = user.client_num 
	    and section_num = #{num} order by board_date desc limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectBoardCount" resultType="int">
	   select count(board_num) from board where section_num = #{num}
	</select>
</mapper>