<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.DivisionDao">
    
    <resultMap type="DivisionVO" id="DivisionResult">
        <result property="divisionNum" column="division_num"/>
       	<result property="divisionName" column="division_name"/>
       	<result property="category.categoryNum" column="category_num"/>
    </resultMap>
        
    <insert id="insert">
        insert into division(division_name, category_num) values(#{divisionName}, #{category.categoryNum})
    </insert>
    
    <update id="update">
        update division set division_name = #{divisionName} where division_num = #{divisionNum}
    </update>
    
    <delete id="delete">
         delete from division where division_num = #{divisionNum}
    </delete>
    
    <select id="selectByCategoryNum" resultMap="DivisionResult">
        select * from division where category_num = #{num}
    </select>
        
    <select id="selectAll" resultMap="DivisionResult">
        select * from division
    </select>
</mapper>