<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.OrderDao">
    
    <resultMap type="OrderVO" id="orderJoinResult">
        <result property="orderNum" column="order_num"/>
        <result property="orderDate" column="oder_date"/>
        <result property="orderAmount" column="order_amount"/>
        <result property="orderPrice" column="order_price"/>
        <result property="orderRecipient" column="order_recipient"/>
        <result property="recipientPhone" column="recipient_phone"/>
        <result property="recipientAddress" column="recipient_address"/>
        <result property="orderStatus" column="order_status"/>
        <result property="boardNum.boardNum" column="board_num"/>
   		<association property="clientNum" resultMap="com.dgit.persistence.UserDao.userResult"/>
    </resultMap>
    
    <resultMap type="OrderVO" id="orderAllJoinResult">
        <result property="orderNum" column="order_num"/>
        <result property="orderDate" column="oder_date"/>
        <result property="orderAmount" column="order_amount"/>
        <result property="orderPrice" column="order_price"/>
        <result property="orderRecipient" column="order_recipient"/>
        <result property="recipientPhone" column="recipient_phone"/>
        <result property="recipientAddress" column="recipient_address"/>
        <result property="orderStatus" column="order_status"/>
        <association property="boardNum" resultMap="com.dgit.persistence.BoardDao.boardResult"/>
   		<association property="clientNum" resultMap="com.dgit.persistence.UserDao.userResult"/>
    </resultMap>
    
	<insert id="insert">
	    insert into product_order(order_amount, order_price, order_recipient, recipient_phone, recipient_address, order_status, board_num, client_num)
	    values (#{orderAmount}, #{orderPrice}, #{orderRecipient}, #{recipientPhone}, #{recipientAddress}, #{orderStatus}, 
	    #{boardNum.boardNum}, #{clientNum.clientNum})
	</insert>
	
	<delete id="delete">
	    delete from product_order where order_num = #{orderNum}
	</delete>
    
	<update id="update">
	    update product_order set order_amount = #{orderAmount}, order_price = #{orderPrice}, order_recipient = #{orderRecipient}, recipient_phone = #{recipientPhone}, 
	    recipient_address = #{recipientAddress} where order_num = #{orderNum}
	</update>
	
	<update id="updateOrderStatus">
	    update product_order set order_status = #{orderStatus} where order_num = #{orderNum}
	</update>
	
	<select id="selectOrderByClientNum" resultMap="orderJoinResult">
	    select * from product_order, client where product_order.client_num = client.client_num 
		and product_order.client_num = #{num} order by oder_date asc
	</select>
	
	<select id="selectOrderByBoardNum" resultMap="orderAllJoinResult">
	    select * from product_order, client, sa_board where  
		product_order.client_num = client.client_num and product_order.board_num = sa_board.board_num 
		and product_order.board_num = #{num} order by oder_date
	</select>
	
	<select id="selectOrderByBoardNumAndStatus" resultMap="orderAllJoinResult">
	    select * from product_order, client, sa_board where  
		product_order.client_num = client.client_num and product_order.board_num = sa_board.board_num 
		and product_order.board_num = #{num} and order_status = #{status} order by oder_date
	</select>
	
	<select id="selectAllOrderByWriterClientNum" resultMap="orderAllJoinResult">
	    select * from sa_board, client, product_order where client.client_num = sa_board.client_num
		and product_order.board_num = sa_board.board_num and sa_board.client_num = #{num} order by product_order.oder_date
	</select>
	
	<select id="selectAllOrderByWriterClientNumAndStatus" resultMap="orderAllJoinResult">
	    select * from sa_board, client, product_order where client.client_num = sa_board.client_num
		and product_order.board_num = sa_board.board_num and sa_board.client_num = #{num} and order_status = #{status} 
		order by product_order.oder_date
	</select>
	
	<select id="selectOrderSumGroupByBoardNum" resultMap="orderAllJoinResult">
	    select sa_board.board_num, sa_board.board_title, sum(order_price) as order_price from client, sa_board, product_order 
		where client.client_num = sa_board.client_num and sa_board.board_num = product_order.board_num 
		and sa_board.client_num = #{num} group by sa_board.board_num
	</select>
</mapper>