<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgit.persistence.SectionDao">
     
     <resultMap type="SectionVO" id="SectionResult">
        <result property="sectionNum" column="section_num"/>
       	<result property="sectionName" column="section_name"/>
       	<result property="division.divisionNum" column="division_num"/>
    </resultMap>
    	
     <resultMap type="TypeInfo" id="resultTypeInfo">
        <result property="sectionNum" column="section_num"/>
    	<result property="divisionNum" column="division_num"/>
    	<result property="divisionName" column="division_name"/>
    	<result property="bannerFile" column="banner_pic"/>
    	<result property="categoryName" column="category_name"/>
     </resultMap>
        
    <insert id="insert">
        insert into section(section_name, division_num) values(#{sectionName}, #{division.divisionNum})
    </insert>
    
    <update id="update">
        update section set section_name = #{sectionName} where section_num = #{sectionNum}
    </update>
    
    <delete id="delete">
         delete from section where section_num = #{sectionNum}
    </delete>
    
    <select id="selectByDivisionNum" resultMap="SectionResult">
        select * from section where division_num = #{num}
    </select>
        
    <select id="selectAll" resultMap="SectionResult">
        select * from section
    </select>
    
    <select id="getTypeNum" resultMap="resultTypeInfo">
        select section_num, division.division_num, division.division_name, division.banner_pic, category.category_name from section, division, category 
		where section.division_num = division.division_num and division.category_num = category.category_num
		and section_num = #{num}
    </select>
</mapper>